 a<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="it">
  <meta name="keywords" content="AI, Cereal Detection, AI Project, Deep Learning">
  
  <meta name="author" content="">

  <title>Cereal Detector</title>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/plugins/fontawesome/css/all.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Quicksand:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&display=swap" rel="stylesheet">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  

</head>


<body id="top-header">


<!-- LOADER TEMPLATE -->
<div id="page-loader">
    <div class="loader-icon fa fa-spin colored-border"></div>
</div>
<!-- /LOADER TEMPLATE -->

     <!-- NAVBAR
    ================================================= -->
        
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top site-navigation main-nav navbar-togglable">
        <div class="container">
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Links -->
                <ul class="navbar-nav row">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#home" expanded="false">
                                Links
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarWelcome">
                                 <a class="dropdown-item " target="_blank" href="https://github.com/zikegcwk/aicamp_emotion">
                                    Github
                                </a>
 
                        </li>
                        <li class="nav-item ">
                            <a href="#home" class="nav-link">
                                Home
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="#demo" class="nav-link">
                                Demo
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a href="#meet_the_team" class="nav-link">
                                Our Team
                            </a>

                        </li>
                    </ul>
                <ul class="ml-lg-auto list-unstyled m-0 nav-btn">
                </ul>
            </div> <!-- / .navbar-collapse -->
        </div> <!-- / .Container -->
    </nav>
    <a id="home"></a>
 <!-- HERO
    ================================================== -->
    <section class="banner-area py-5" id="banner-4">
       <div class="overlay feature-overlay"></div>
        <!-- Content -->
        <div class="container">
            <div class="row  align-items-center justify-content-center">
                <div class="col-md-12 col-lg-9">
                   <div class="banner-content2 text-center style-2">
                        <!-- Heading -->
                        <h1 class="display-4 mb-4 ">
                            Cereal Sentinel
                        </h1>

                        <!-- Subheading -->
                        <p class="lead mb-5 pr-0">
                           Save SuperMarkets More Time
                        </p>

                        <!-- Button -->
                            <a class="mb-0" id='seefood_button'>
                                <form id='seefood_form' method=post enctype=multipart/form-data>
                                    <input id="seefood_input_field" name="file" type="file" onchange="this.form.submit();" hidden/>
                                </form>
                                <button href="#" target="_blank" class="btn btn-white btn-circled btn-text">
                                    <i class="fas fa-camera pr-2 left" aria-hidden="true"></i> Try Out Our Demo Product
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>

    <a id="demo"></a>
    <section class="section">
        <div class="row align-items-center justify-content-center">
            <div class="col text-center">
                <div class="section-heading">

               <div>
                 <div>
                   <div>

                   </div>
                 </div>
                  </div>

                 <!-- insert iamge on top of product description) -->
                <p class="small-text top-margin"> Cereal Sentinel is a useful product for grocery store workers. It's inefficient for workers to consistently walk around to search for unorganized or unstocked shelves. And so, we made a product that will detect unorganized shelves or aisles that need restocking.</p>
            </div>
        </div>
    </section>
      
    <section>
      <br>
      <br>
      <br>
        
      
      
      
      </section>
      
  

    
    
    
    
     
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      

<a id="meet_the_team"></a>
<section class="section section-padding" id="services-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                    <div class="section-heading">
                        <!-- Heading -->
                        <h2 class="section-title section-title-padding mb-2 text-white">
                            Meet the Team
                        </h2>
                    </div>
                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center text-center">
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <img 
                             class="image-container img-fluid" 
                             src="{{ url_for('static', filename='images1/283B311D-39B3-4C1B-B04C-379CBEB23019_4_5005_c.jpeg')}}"
                             width=500
                             height=500>

                        <h3>Mahnoor Babra</h3>
                        <p>Student at Merrill F. West High School</p>
                        <p>I am a rising sophomore at West High School.I enjoy learning new things and this AI camp was a wonderful opportunity for me to learn coding. I enjoyed working with my peers to create an amazing prototype.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <img class="image-container img-fluid"
                             src="{{ url_for('static', filename='images1/4823AE7E-81FE-4AB2-92F3-31B25D479A30_4_5005_c.jpeg')}}"
                             width=500
                             height=500>
                        <h3> Victoria Li</h3>
                        <p>Student at Clark High School </p>
                        <p>I'm going into my sophomore year of high school at Clark High School in Las Vegas, Nevada. During my free time I enjoy playing sports and crocheting for friends! I'm also passionate on the topic of CS, my plan for the future is to major in computer science or software engineering! </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                    <div class="web-service-block">
                        <img class="image-container img-fluid" 
                             src="{{ url_for('static', filename='images1/A8CA80AA-9D8C-4A7A-991F-0C25D1644489_4_5005_c.jpeg')}}"
                             width=500
                             height=500>
                        <h3>Kevin Kim</h3>
                        <p>Branham High School</p>
                        <p>I'm Kevin Kim, and a 10th grader at Branham High School. I want to be a pilot or software engineer when I grow up and creating new programs were always part of my passion!</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <img class="image-container img-fluid" src="{{ url_for('static', filename='images1/A9802FB4-6E81-4F8C-B07A-8943728D3FA5_4_5005_c.jpeg')}}"
                             width=500
                             height=500>
                        <h3>Daniel Mercier</h3>
                        <p>Student of Helen Stacey Middle School</p>
                        <p>I'm Daniel Mercier and a 7th grader that wants to fluently make code. I love to train in martial arts, and I have the basic skills of 7th-8th grade math on my side.</p>
                    </div>
                </div>
               <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <img class="image-container img-fluid" src="{{ url_for('static', filename='images1/9185A7F8-7A11-4F20-A4C1-7215CD8C62C3_4_5005_c.jpeg')}}"
                             width=500
                             height=500>
                       <h3>Danzel Ngo</h3>
                        <p>Student at Oakland Charter High School</p>
                        <p> I'm Danzel Ngo, a 9th grader at Oakland Charter High School who wants to know how to make code.  In my free time, I like to play video games, sleep, watch movies/tv shows, and hang out with friends.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6 ">
                    <div class="web-service-block">
                        <img class="image-container img-fluid" src="{{ url_for('static', filename='images1/107E5B0E-17A5-4D00-9B66-C6BF365DDF57_4_5005_c.jpeg')}}"
                             width=500
                             height=500>
                        <h3>Ethan Le</h3>
                        <p>Student at Evergreen High School</p>
                        <p>I'm Ethan Le, and a 9th grader that has aspiring dreams to be a software engineer. For me, programming to create new things has always been my passion.</p>
                    </div><h2></h2><h1></h1>
                </div>
            </div>
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 text-center">
                        <div class="section-heading">
                            <!-- Heading -->
                            <h2 class="section-title section-text">
                                Our Mentor
                            </h2>
                        </div>
                    </div>
                </div> <!-- / .row -->
    
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="web-service-block">
                            <img class="image-container img-fluid" src="{{ url_for('static', filename='images/mehdi-profile.jpeg')}}">
                            <h3>Adam Mehdi</h3>
                            <p>Columbia University </p>
                            <p>I'm Adam Mehdi, a Data Science Instructor at AI Camp born and raised in Vegas. I am is pursuing a Bachelors of Science in Computer Science at Columbia University School of Engineering and Applied Science. In my free time, I like to take long walks, drink black coffee, and read good books, in that order.</p>
                        </div>
                    </div>
                </div>
    </section>

<a id="our_work"></a>
 <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 text-center">
                        <!-- Heading -->

                            </div>
                        </div>


    <!-- 
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/theme.js')}}"></script>
    <script>
        // added to get upload with a button working
        document.getElementById('seefood_button').addEventListener('click', openDialog);

        function openDialog() {
            document.getElementById('seefood_input_field').click();
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#spinner").bind("ajaxSend", function() {
                $(this).show();
            }).bind("ajaxStop", function() {
                $(this).hide();
            }).bind("ajaxError", function() {
                $(this).hide();
            });
            // seefood_input_field
            $('#seefood_button').click(function() {

            });
        });
    </script>
  </body>
  </html>
   